<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show blog list</title>
</head>
<body>
<h1>Blog list</h1>
<p>
    <a href="/create-blog">Create new blog</a>
</p>
<form>
    Search by name:
    <input name="s" type="text" id="s"/>
    <input type="submit" value="Search" id="search"/>
</form><br/>
<table border="1" id="table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Content</td>
        <td>Image link</td>
        <td>Category</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.image}"></td>
            <td th:text="${blog.category.name}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.id}__}">view</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/blogs/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogs/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<script src="js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search").click(function () {
            $.ajax({
                url : "/blogs",
                type :"GET",
                dataType :"HTML",
                success : function (data) {
                    $("#table").html(data);
                }
            })
        })
    });
</script>
</body>
</html>