th{
    border: 1px solid black;
}
h1{
    text-align: center;
    color: blue;
}
table{
    margin-right: auto;
    margin-left: auto;
}
td,th{
    width: 50px;
    height: 50px;
    font-size: 20px;
}
#th-1{
    background-color: red;
    color: ghostwhite;
}
#th-2{
    background-color:darkorange;
    color: ghostwhite;
}
#td-1{
    color: red;
}
#td-2{
    color: blue;
}
sub{
    font-size: 12px;
    color: black;
}
#th-3{
    background-color: blue;
    color: ghostwhite;
}