<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.title}"></title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<p>
    Language : <a href="?lang=en">English</a> | <a href="?lang=ha">Việt Nam</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{create.firstname_label}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.lastname_label}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.submit_label}"/></td>
        </tr>
    </table>
</form>
</body>
</html>