<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/provinces">Category list</a>
<table border="1">
    <tr>
        <th> name</th>
        <th> content</th>
        <th> image</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.image}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>